body{
    margin:0px;
    background-color: #F0F2F2;
    color: #232226;
    display: grid;
    grid-template-areas:'header header header header'
                        'imagem imagem texto texto'
                        'conteudo conteudo conteudo conteudo'
                        'footer footer footer footer';
    grid-template-rows: 5vw 45vw 45vw 8vw;
}

.formulario{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.conteudo {
    grid-area: conteudo;
    display: flex;
    align-items: center;
}

.texto{
grid-area: texto;
display: flex;
align-items: center;
}

header{
    grid-area: header;
    background-color: #BFB8AA;
    display: flex;
}

footer{
    grid-area: footer;
    background-color:#BFB8AA;
    display: flex;
    align-items: center;
}



/* CSS LOGIN */

.login{
    display: grid;
    grid-template-areas: 'usertab emptab'
                         'forms forms';
    grid-template-rows: 50px 300px;
}

.aba_candidato , .aba_empresa{
    display: flex;
    flex-direction: column;
}

.opcao_empresa{
    grid-area: emptab;
}

.opcao_candidato{
    grid-area: usertab;
}

.forms{
    grid-area: forms;
}

.aba_empresa{
    display: none;
}