{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script  defer src="{% static 'js/scripts.js' %}"></script>
    <script  defer src="{% static 'js/carrossel.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <div class="logo" >
        <h2>integra +</h2>
    </div>
    <div>
        <a href="/login">Login</a>
        <a href="/cadastro_candidato">cadastro_candidato</a>
        <a href="/cadastro_empresa">cadastro_empresa</a>
    </div>
</header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
            <p>siga nossas redes sociais</p>
            <img src="{% static 'image/logoFace.png' %}" height="50" width="50">
            <img src="{% static 'image/logoInsta.png' %}"height="40" width="40">
    </footer>

   
    
</body>
</html>
