{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script  defer src="{% static 'js/scripts.js' %}"></script>
    
    <title>Integra+</title>
</head>
<body>
<header>
    <a href="/login">Login</a>
</header>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
            <p>siga nossas redes sociais</p>
            <img src="{% static 'image/logoFace.png' %}" height="50" width="50">
            <img src="{% static 'image/logoInsta.png' %}"height="40" width="40">
    </footer>

   
    
</body>
</html>
