{% extends 'shared/layout.html' %}
{% block conteudo %}

<h1>Preencha aqui seu cadastro</h1>

<form action="/cadastro_candidato" method="POST">
    {% csrf_token %}
    
    <div class="Nome">
    <label>Nome</label>
    <input type="text" name="nome" required>
    </div>
    
    <div class="Sobrenome">
        <label>Sobrenome</label>
        <input type="text" name="sobrenome" required>
    </div>
    
    <div class="rne">
        <label>RNE</label>
        <input type="text" name="rne">
    </div>
    
    <div class="data_nascimento">
        <label>Data de Nascimento</label>
        <input type="date" name="data_nascimento">
    </div>
    <div class="pais_de_origem">
        <label>Pais de Origem</label>
        <select name="pais_de_origem">
            <option value="AFE">Afeganistão</option>
            <option value="ADS">África do Sul</option>
            <option value="ALB">Albânia</option>
            <option value="ALE">Alemanha</option>
            <option value="AND">Andorra</option>
            <option value="ANGO">Angola</option>
            <option value="ANG">Anguilla</option>
            <option value="AH">Antilhas Holandesas</option>
            <option value="ANT">Antárctida</option>
            <option value="AB">Antígua e Barbuda</option>
            <option value="ARG">Argentina</option>
            <option value="ARGE">Argélia</option>
            <option value="ARM">Armênia</option>
            <option value="ARU">Aruba</option>
            <option value="AS">Arábia Saudita</option>
            <option value="AUS">Austrália</option>
            <option value="AUST">Áustria</option>
            <option value="AZE">Azerbaijão</option>
            <option value="BAH">Bahamas</option>
            <option value="BAHR">Bahrein</option>
            <option value="BANG">Bangladesh</option>
            <option value="BARB">Barbados</option>
            <option value="BEL">Belize</option>
            <option value="BEN">Benim</option>
            <option value="BER">Bermudas</option>
            <option value="BIE">Bielorrússia</option>
            <option value="BOL">Bolívia</option>
            <option value="BOT">Botswana</option>
            <option value="BRU">Brunei</option>
            <option value="BUL">Bulgária</option>
            <option value="BURK">Burkina Faso</option>
            <option value="BURU">Burundi</option>
            <option value="BUT">Butão</option>
            <option value="BEL">Bélgica</option>
            <option value="BOSH">Bósnia e Herzegovina</option>
            <option value="CB">Cabo Verde</option>
            <option value="CAMA">Camarões</option>
            <option value="CAMB">Camboja</option>
            <option value="CAN">Canadá</option>
            <option value="CAT">Catar</option>
            <option value="CAZ">Cazaquistão</option>
            <option value="CHA">Chade</option>
            <option value="CHIL">Chile</option>
            <option value="CHIN">China</option>
            <option value="CHI">Chipre</option>
            <option value="COL">Colômbia</option>
            <option value="COM">Comores</option>
            <option value="CDN">Coreia do Norte</option>
            <option value="CDS">Coreia do Sul</option>
            <option value="CDM">Costa do Marfim</option>
            <option value="CR">Costa Rica</option>
            <option value="CRO">Croácia</option>
            <option value="CBA">Cuba</option>
            <option value="DIN">Dinamarca</option>
            <option value="DJI">Djibouti</option>
            <option value="DOM">Dominica</option>
            <option value="EGI">Egito</option>
            <option value="ES">El Salvador</option>
            <option value="EMA">Emirados Árabes Unidos</option>
            <option value="EQU">Equador</option>
            <option value="ERI">Eritreia</option>
            <option value="ESC">Escócia</option>
            <option value="ESL">Eslováquia</option>
            <option value="ESLOVE">Eslovênia</option>
            <option value="ESP">Espanha</option>
            <option value="EFM">Estados Federados da Micronésia</option>
            <option value="EUA">Estados Unidos</option>
            <option value="EST">Estônia</option>
            <option value="ETI">Etiópia</option>
            <option value="FIJ">Fiji</option>
            <option value="FIL">Filipinas</option>
            <option value="FIN">Finlândia</option>
            <option value="FRA">França</option>
            <option value="GAB">Gabão</option>
            <option value="GA">Gana</option>
            <option value="GE">Geórgia</option>
            <option value="GIB">Gibraltar</option>
            <option value="GRA">Granada</option>
            <option value="GRO">Gronelândia</option>
            <option value="GRE">Grécia</option>
            <option value="GUAD">Guadalupe</option>
            <option value="GUAM">Guam</option>
            <option value="GUAT">Guatemala</option>
            <option value="GUE">Guernesei</option>
            <option value="GUI">Guiana</option>
            <option value="GUIF">Guiana Francesa</option>
            <option value="GUE">Guiné</option>
            <option value="GUEEQ">Guiné Equatorial</option>
            <option value="GUIB">Guiné-Bissau</option>
            <option value="GAM">Gâmbia</option>
            <option value="HAI">Haiti</option>
            <option value="HON">Honduras</option>
            <option value="HK">Hong Kong</option>
            <option value="HUN">Hungria</option>
            <option value="IB">Ilha Bouvet</option>
            <option value="IM">Ilha de Man</option>
            <option value="IN">Ilha do Natal</option>
            <option value="IHIM">Ilha Heard e Ilhas McDonald</option>
            <option value="INOR">Ilha Norfolk</option>
            <option value="ICAY">Ilhas Cayman</option>
            <option value="ICO">Ilhas Cocos (Keeling)</option>
            <option value="ICOOK">Ilhas Cook</option>
            <option value="IFE">Ilhas Feroé</option>
            <option value="IGSSS">Ilhas Geórgia do Sul e Sandwich do Sul</option>
            <option value="IMA">Ilhas Malvinas</option>
            <option value="IMAR">Ilhas Marshall</option>
            <option value="IMDEU">Ilhas Menores Distantes dos Estados Unidos</option>
            <option value="IS">Ilhas Salomão</option>
            <option value="IVA">Ilhas Virgens Americanas</option>
            <option value="IVB">Ilhas Virgens Britânicas</option>
            <option value="IAL">Ilhas Åland</option>
            <option value="INDO">Indonésia</option>
            <option value="ING">Inglaterra</option>
            <option value="INDI">Índia</option>
            <option value="IRAQ">Iraque</option>
            <option value="IRN">Irlanda do Norte</option>
            <option value="IRL">Irlanda</option>
            <option value="IRA">Irã</option>
            <option value="ISL">Islândia</option>
            <option value="ISR">Israel</option>
            <option value="ITA">Itália</option>
            <option value="IEM">Iêmen</option>
            <option value="JAM">Jamaica</option>
            <option value="JAP">Japão</option>
            <option value="JER">Jersey</option>
            <option value="JOR">Jordânia</option>
            <option value="KIR">Kiribati</option>
            <option value="KUW">Kuwait</option>
            <option value="LAO">Laos</option>
            <option value="LES">Lesoto</option>
            <option value="LET">Letônia</option>
            <option value="LIB">Libéria</option>
            <option value="LIE">Liechtenstein</option>
            <option value="LIT">Lituânia</option>
            <option value="LUX">Luxemburgo</option>
            <option value="LIBA">Líbano</option>
            <option value="LIBI">Líbia</option>
            <option value="MAC">Macau</option>
            <option value="MAC">Macedônia</option>
            <option value="MAD">Madagáscar</option>
            <option value="MALA">Malawi</option>
            <option value="MALD">Maldivas</option>
            <option value="MALI">Mali</option>
            <option value="MALTA">Malta</option>
            <option value="MALAS">Malásia</option>
            <option value="MARIS">Marianas Setentrionais</option>
            <option value="MARR">Marrocos</option>
            <option value="MART">Martinica</option>
            <option value="MAUR">Mauritânia</option>
            <option value="MAURI">Maurícia</option>
            <option value="MAYO">Mayotte</option>
            <option value="MOL">Moldávia</option>
            <option value="MON">Mongólia</option>
            <option value="MONT">Montenegro</option>
            <option value="MONTS">Montserrat</option>
            <option value="MOÇ">Moçambique</option>
            <option value="MYA">Myanmar</option>
            <option value="MEX">México</option>
            <option value="MON">Mônaco</option>
            <option value="NAM">Namíbia</option>
            <option value="NAU">Nauru</option>
            <option value="NEP">Nepal</option>
            <option value="NIC">Nicarágua</option>
            <option value="NIG">Nigéria</option>
            <option value="NIU">Niue</option>
            <option value="NOR">Noruega</option>
            <option value="NC">Nova Caledônia</option>
            <option value="NZ">Nova Zelândia</option>
            <option value="NIG">Níger</option>
            <option value="OMA">Omã</option>
            <option value="PAL">Palau</option>
            <option value="PALE">Palestina</option>
            <option value="PAN">Panamá</option>
            <option value="PNG">Papua-Nova Guiné</option>
            <option value="PAQ">Paquistão</option>
            <option value="PAR">Paraguai</option>
            <option value="PDG">País de Gales</option>
            <option value="PB">Países Baixos</option>
            <option value="PE">Peru</option>
            <option value="PIT">Pitcairn</option>
            <option value="PF">Polinésia Francesa</option>
            <option value="POL">Polônia</option>
            <option value="PR">Porto Rico</option>
            <option value="POR">Portugal</option>
            <option value="QUI">Quirguistão</option>
            <option value="QUE">Quênia</option>
            <option value="RU">Reino Unido</option>
            <option value="RCA">República Centro-Africana</option>
            <option value="RC">República Checa</option>
            <option value="RDC">República Democrática do Congo</option>
            <option value="RCO">República do Congo</option>
            <option value="RD">República Dominicana</option>
            <option value="REU">Reunião</option>
            <option value="ROM">Romênia</option>
            <option value="RUA">Ruanda</option>
            <option value="RUS">Rússia</option>
            <option value="SAA">Saara Ocidental</option>
            <option value="SM">Saint Martin</option>
            <option value="SB">Saint-Barthélemy</option>
            <option value="SPM">Saint-Pierre e Miquelon</option>
            <option value="SAM">Samoa Americana</option>
            <option value="SA">Samoa</option>
            <option value="SHATC">Santa Helena, Ascensão e Tristão da Cunha</option>
            <option value="SL">Santa Lúcia</option>
            <option value="SEN">Senegal</option>
            <option value="SLE">Serra Leoa</option>
            <option value="SEY">Seychelles</option>
            <option value="SIN">Singapura</option>
            <option value="SOM">Somália</option>
            <option value="SRI">Sri Lanka</option>
            <option value="SUAZ">Suazilândia</option>
            <option value="SUD">Sudão</option>
            <option value="SUR">Suriname</option>
            <option value="SUE">Suécia</option>
            <option value="SUI">Suíça</option>
            <option value="SVA">Svalbard e Jan Mayen</option>
            <option value="SCN">São Cristóvão e Nevis</option>
            <option value="SM">São Marino</option>
            <option value="STP">São Tomé e Príncipe</option>
            <option value="SVG">São Vicente e Granadinas</option>
            <option value="SERV">Sérvia</option>
            <option value="SIR">Síria</option>
            <option value="TAD">Tadjiquistão</option>
            <option value="TAI">Tailândia</option>
            <option value="TAIW">Taiwan</option>
            <option value="TAN">Tanzânia</option>
            <option value="TAAF">Terras Austrais e Antárticas Francesas</option>
            <option value="TBOI">Território Britânico do Oceano Índico</option>
            <option value="TL">Timor-Leste</option>
            <option value="TOG">Togo</option>
            <option value="TON">Tonga</option>
            <option value="TOQ">Toquelau</option>
            <option value="TRI">Trinidad e Tobago</option>
            <option value="TUN">Tunísia</option>
            <option value="TUR">Turcas e Caicos</option>
            <option value="TURQ">Turquemenistão</option>
            <option value="TURQUI">Turquia</option>
            <option value="TUV">Tuvalu</option>
            <option value="UCR">Ucrânia</option>
            <option value="UGA">Uganda</option>
            <option value="URU">Uruguai</option>
            <option value="UZB">Uzbequistão</option>
            <option value="VAN">Vanuatu</option>
            <option value="VAT">Vaticano</option>
            <option value="VEN">Venezuela</option>
            <option value="VIET">Vietname</option>
            <option value="WAF">Wallis e Futuna</option>
            <option value="ZIM">Zimbabwe</option>
            <option value="ZAM">Zâmbia</option>
        </select>
    </div>
    
    <div class="genero">
        <label>Genero</label>
        <select name="genero">
            <option value="F">Feminino</option>
            <option value="M">Masculino</option>
            <option value="O">Outros</option>
        </select>
    </div>
    
    <div class="email">
        <label>E-mail</label>
        <input type="email" name="email" required>
    </div>


    <div class="senha">
        <label>Senha</label>
        <input type="password" name="senha" required>
    </div> 

    <div class="telefone">
        <label>Telefone</label>
        <input type="text" name="telefone">
    </div>

    <div class="celular">
        <label>Celular</label>
        <input type="text" name="celular">
    </div>

    <input type="submit" value="Cadastrar">
</form>
{% endblock %}