{% extends 'shared/layout.html' %}
{% block conteudo %}
{% if candidato is None %}
    <h1>Ops, você precisa se cadastrar</h1>
    <p>
        <a href="/">clique aqui para se cadastrar</a>
    </p>
{% else %}
<div class="area-centro">
    
    
    <h1>Preencha aqui seu currículo {{candidato.nome}}</h1>
<div class="area-form ">

<form action="/cadastro_cv" method="POST">
    {% csrf_token %}
    <input type="hidden" name="email" value="{{candidato.email}}">
    <div class="area">
        <label>Area</label>
        <select name="area" id="opcoesarea" onchange="optionCheck()">
            <option value="CMD">Comunicação</option>
            <option value="SD">Saúde</option>
            <option value="TEC">Tecnologia</option>
            <option value="FIN">Financeiro</option>
            <option value="ADM">Adminstração</option>
            <option value="RH">Recursos Humanos</option>
            <option value="JUR">Jurídica</option>
            <option value="OTR">Outro</option>
        </select>

    </div>

    <div class="area_outros">
        <label>Outros</label>
        <input type="text" name="area_outros">
    </div>
    <div class="apresentacao">
        <label>Apresentacao</label>
        <input type="text" name="apresentacao">
    </div>
    <div class="escolaridade">
        <label>Nível de Escolaridade</label>
        <select name="escolaridade">
            <option value="EFI">Ensino Fundamental Incompleto</option>
            <option value="EFC">Ensino Fundamental Cursando</option>
            <option value="EFCO">Ensino Fundamental Completo</option>
            <option value="EMI">Ensino Médio Incompleto</option>
            <option value="EMC">Ensino Médio Cursando</option>
            <option value="EMCO">Ensino Médio Completo</option>
            <option value="ESI">Ensino Superior Incompleto</option>
            <option value="ESC">Ensino Superior Cursando</option>
            <option value="ESCO">Ensino Superior Completo</option>
            <option value="P">Pós Graduação</option>
            <option value="M">Mestrado</option>
            <option value="D">Doutorado</option>
        </select>
    </div>
    <div class="formacao">
        <label>Formação Acadêmica</label>
        <textarea name="formacao" cols="30" rows="10"></textarea>
    </div>
    <div class="idioma">
        <label for="idiomas">Idiomas</label>
            <select name="idioma">
                <option value="ESPANHOL">Espanhol</option>
                <option value="INGLES">Inglês</option>
                <option value="FRANCES">Frances</option>
                <option value="OTR">Outros</option>
            </select>   
    </div>
    <div class="idioma_outros">
            <label>Outros</label>
            <input type="text" name="idioma_outros">
    </div>
    <div class="historico">
        <label>Histórico Profissional</label>
        <textarea name="historico" cols="30" rows="10"></textarea>
    </div>
    <input type="submit" value="Cadastrar">
    </form>
    <a href="index">Sair</a>
</div>  
</div>    
{% endif %}
{% endblock %}