{% extends 'shared/layout.html' %}
{% block conteudo %}

<div class="area-centro">
<h1>CADASTRO DE EMPRESA</h1>

    <form class ='area-form' action="/cadastro_empresa" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="razao_social">
    <label for="razao_social">Razão Social</label>
    <input type="text" name="razao_social" id="razao_social" required placeholder="Digite a razão social">
    </div>

    <div class="cnpj">
        <label for="cnpj">CNPJ</label>
        <input type="text" name="cnpj" maxlength="12" required id="cnpj" placeholder="Digite o CNPJ">
    </div>

    <div class="email">
        <label for="email">E-mail</label>
        <input type="email" name="email"  required id="email" placeholder="exemplo@email.com" >
    </div>

    <div class="senha">
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" maxlength="255" minlength="5" required placeholder="***********">
    </div> 

    <div>  
        <input type="submit" value="Cadastrar">
    </div>
    </form>
    </div>
{% endblock %}