{% extends 'shared/layout.html' %}
{% block conteudo %}
{% if candidato is None %}
    <h1>Ops, você precisa se cadastrar</h1>
    <p>
        <a href="/">clique aqui para se cadastrar</a>
    </p>
{% else %}
<h1>Preencha aqui seu currículo {{candidato.nome}}</h1>

<form action="/atualizar_cv" method="POST">
    {% csrf_token %}
    <div class="area">
        <label>Area</label>
        <select name="area" id="opcoesarea" onchange="optionCheck()">
            <option value="CMD">Comunicação</option>
            <option value="SD">Saúde</option>
            <option value="TEC">Tecnologia</option>
            <option value="FIN">Financeiro</option>
            <option value="ADM">Adminstração</option>
            <option value="RH">Recursos Humanos</option>
            <option value="JUR">Jurídica</option>
            <option value="OTR">Outro</option>
        </select>

    </div>

    <div class="area_outros">
        <label>Outros</label>
        <input type="text" name="area_outros">
    </div>
    <div class="apresentacao">
        <label>Apresentacao</label>
        <input type="text">
    </div>
    <div class="escolaridade">
        <label>Nível de Escolaridade</label>
        <select name="escolaridade">
            <option value="EFI">Ensino Fundamental Incompleto</option>
            <option value="EFC">Ensino Fundamental Cursando</option>
            <option value="EFCO">Ensino Fundamental Completo</option>
            <option value="EMI">Ensino Médio Incompleto</option>
            <option value="EMC">Ensino Médio Cursando</option>
            <option value="EMCO">Ensino Médio Completo</option>
            <option value="ESI">Ensino Superior Incompleto</option>
            <option value="ESC">Ensino Superior Cursando</option>
            <option value="ESCO">Ensino Superior Completo</option>
            <option value="P">Pós Graduação</option>
            <option value="M">Mestrado</option>
            <option value="D">Doutorado</option>
        </select>
    </div>
    <div class="formacao">
        <label>Formação Acadêmica</label>
        <textarea name="formacao" cols="30" rows="10"></textarea>
    </div>
    <div class="idioma">
        <label>Idiomas</label>
        <textarea name="idioma" cols="30" rows="10"></textarea>
    </div>
    <div class="historico">
        <label>Histórico Profissional</label>
        <textarea name="historico" cols="30" rows="10"></textarea>
    </div>
    <a href="/atualizar_cv/{{candidato.id}}"><input type="button" value="Cadastrar"></a>
{% endif %}
{% endblock %}