{% extends 'shared/layout.html' %}
{% block conteudo %}
<h1>Integra+</h1>
<h3>Quem somos nós</h3>
<p>Somos um projeto que integra pessoas estrangeiras em nosso país. Nossa principal missão é criar um espaço em comum entre você trabalhador e você que é empresa, propiciando vinculos empregaticios e integrando os interessados as novas  oportunidades do mercado.
    Nascemos de um sonho, onde todos aqueles que entram no Brasil tenha um processo de integração regional e nacional claro e falicitador em relação aos processos do mercado, possibilitando o livre acesso ao imigrante.
    Mas para realizarmos esse sonho precisamos de sua ajuda. Vem com a gente?
</p>

<footer>
 <p>siga nossas redes sociais</p>
</footer>

{% endblock %}