{% extends 'shared/layout.html' %}
{% load static%}
{% block conteudo %}
    <div class="area-centro">
        <h1> {{curriculo.candidato.nome}} {{curriculo.candidato.sobrenome}}</h1>
        <div class="area-form">
            <div class="area-foto">
                        <!-- if usado pra dependendo do genero do usuario uma foto diferente sera usada  -->
                        {% if curriculo.candidato.genero == 'F' %}
                        <img src="{% static 'image/iconFeminino.png' %}" class="iconeCandidato">
                        {% elif curriculo.candidato.genero == 'M' %}
                        <img src="{% static 'image/iconMasculino.png' %}" class="iconeCandidato">
                        {% else %}
                        <img src="{% static 'image/iconOutros.png' %}" class="iconeCandidato">
                        {% endif %}
            </div>   
            
            

            
        <p class="campo-info">
            <label>Pais de origem:</label>
             {{curriculo.candidato.get_pais_de_origem_display}}
        </p>
        <p>Rne: {{curriculo.candidato.rne}}</p>
        <p>Gênero: {{curriculo.candidato.get_genero_display}}</p>
        <p>E-mail: {{curriculo.candidato.email}}</p>
        <p>Experiência: {{curriculo.candidato.historico}}</p>
        <p>Telefone: {{curriculo.candidato.telefone}}</p>
        <p>Celular: {{curriculo.candidato.celular}}</p>
        <p>Apresentação: {{curriculo.apresentacao}}</p>
        {% if curriculo.area == "OTR" %}
        <p>Área: {{curriculo.area_outros}}</p>
        {% else %}
        <p>Área: {{curriculo.get_area_display}}</p>
        {% endif %}
        <p>Formação: {{curriculo.formacao}}</p>
        <p>Idioma: {{curriculo.get_idioma_display}}</p>
        <p>Outros Idiomas: {{curriculo.idioma_outros}}</p>
        <p>Histórico Profissional: {{curriculo.historico}}</p>

{% endblock %}