{% extends 'shared/layout.html' %}

{% block conteudo %}
    <div class="area-centro">
        <div class="area-form">

                <p>
                    <label>Nome:</label> 
                    {{candidato.nome}} {{candidato.sobrenome}}
                </p>
                <p>
                    <label>Pais de origem:</label>
                    {{candidato.pais_de_origem}}
                </p>
                <p>
                    <label>Rne:</label>
                     {{candidato.rne}}
                </p>
                <p>
                    <label>Genero:</label> 
                    {{candidato.genero}}
                </p>
                <p>
                    <label>E-mail</label> 
                    {{candidato.email}}
                </p>
                <p>
                    <label>Telefone:</label>
                     {{candidato.telefone}}
                </p>
                <p>
                    <label>Celular</label>
                     {{candidato.celular}}
                </p>
        </div>        
    </div>
    
{% endblock %}