{% extends 'shared/layout.html' %}
{% block conteudo %}

<div>

    <h1>Login</h1>
    <p>{{msg}}</p>

</div>

<form action = "/login "method = "POST">
    {% csrf_token%}

    <label> Email </label >
    <input type = "E-mail"name ="email_candidato">

    <label> Senha </label >
    <input type ="password "name ="senha">

    <input type ="submit" name = "submit" value="login_candidato">
</form >


<form action="/login" method="POST">
    {% csrf_token%}

    <label> Email </label >
        <input type = "E-mail" name ="email_empresa">
    
        <label> Senha </label >
        <input type ="password "name ="senha">
    
        <input type ="submit" name = "submit" value="login_empresa">
</form>

{% endblock %}