{% extends 'shared/layout.html' %}
{% load static%}
{% block conteudo %}
<div class="pagina_empresa">
    
    {% if empresa is not None %}   
    
    <div class="carrosel">
        
    </div>
    

    <div class="lista_candidatos">
        <!-- for usado para percorrer a lista de candidatos e criaar uma div de usuario para cada candidato existente -->
        {% for curriculo in curriculos %}
        <div class="bloco_candidato">
            <div>
            <!-- if usado pra dependendo do genero do usuario uma foto diferente sera usada  -->
            {% if curriculo.candidato.genero == 'F' %}
            <img src="{% static 'image/iconFeminino.png' %}" class="iconeCandidato">
            {% elif curriculo.candidato.genero == 'M' %}
            <img src="{% static 'image/iconMasculino.png' %}" class="iconeCandidato">
            {% else %}
            <img src="{% static 'image/iconOutros.png' %}" class="iconeCandidato">
            {% endif %}
            </div>
            
            <div class="info_candidato">
                <a href="{{ curriculo.get_absolute_url}}">{{curriculo.candidato.nome}} {{curriculo.candidato.sobrenome}}</a>
                <p>{{curriculo.candidato.pais_de_origem}}</p>
                {% if curriculo.candidato.apresentacao is not None %}
                <p>{{curriculo.candidato.apresentacao}}</p>
                {% else %}
                <p>Sem tempo irmão</p>
                {% endif %}
            </div>
        </div>
            
        {% endfor %}
    </div>


    {% else %}
    <p>adsadasjsiadfias</p>
    
    {% endif %}
</div>

{% endblock %}